*{
    margin: 0;
    padding: 0;
}
/* font */
body{
    font-family: 'Noto Sans TC', sans-serif; 
    font-size: 14px;
    font-weight: 300;
    color:#555;
    line-height: 1.5;
}
h1{
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}
h2{
    font-size:17px;
    font-weight: 500;
}

/* header */
.header{
    align-items: center;
    position: sticky ;
    top: 0;
    left: 0; 
    background-color: #fff;   
    z-index: 50;
}
.header_container{
    width: 100%;
    height: 50px; 
    display: flex;   
    justify-content: space-between;
    box-sizing: border-box; 
    align-items: center;
    position: relative;
}
/* 下拉選單 */
#menu-check{
    display: none;
}
.main-nav a{
    padding:10px;
    color:#fff;
    text-decoration: none;
    
}

.hb{
    width: 30px;
    height: 30px;
    position: relative;
    /* background-color: salmon; */
}
.hb:before,.hb:after{
    content: '';
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: #B87A3D;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(0deg);
    border-radius: 50px;
}
.hb:before{
    top: 6px;
    box-shadow: 0px 8px 0px #B87A3D;
    transition: box-shadow .2s .2s,
                top        .2s .2s,
                transform  .2s  0s;
}

.hb:after{
    bottom: 6px;
    transition: bottom     .2s .2s,
                transform  .2s  0s;
}

#menu-check:checked ~ .header .header_container .hb:before{
    top: 14px;
    box-shadow: 0px 8px 0px #b87b3d00;
    transform: rotate(45deg);
    transition: box-shadow .2s  0s,
                top        .2s .2s,
                transform  .2s .4s;

}               
#menu-check:checked ~ .header .header_container .hb:after{
    bottom: 14px;
    transform: rotate(-45deg);
    transition: bottom     .2s .2s,
                transform  .2s .4s;
}                

.main-nav{
    position: absolute;
    width: 100%;
    top:100%;
    left: -2000px;
    opacity: 0;
    background-color: #b87b3dee;
    transition: opacity 1s;   
    z-index: 500;       
}

#menu-check:checked ~ .header .header_container .main-nav{
    left: 0;
    opacity: 1;
    transition: opacity 1s;
}
.main-nav a{
    display: block;
}
.main-nav a + a{
    border-top:1px solid #fff;
} 
/* 商標 */
.logo{
    height:90%;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translate(-50%, 0);
}
.logo img{
    height: 100%;
    padding: 5px 0 5px 0px ;
    box-sizing: border-box;
}
.login_cart{
    height: 100%;
    display: flex;    
    align-items: center;
}
.login_btn{
    height: 50%;
    background-color:#B87A3D ;
    color: #ffffff;
    font-weight: border ;
    border-radius: 6px;
    font-size: 16px;
    padding:0 0.5em;
    margin: 30px;
    border-style: none;
    display: none;
}
.login_cart a img{
    height: 100%;
    box-sizing: border-box;
    padding:0 10px;
    /* outline: salmon 1px solid; */
}
.login_cart a{
    height: 60%;
}
/* 產品分類 */
.product_nav_container{
    width: 320px;
    display: flex;
    margin: 0 auto 35px ;
    /* background-color:darkgoldenrod ; */
}
.shiftPanel{
    text-align: center;
    width: 15PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shiftPanel > .btn{
    font-weight: bold;
    border-style: none;
    background-color: #b87b3d8c;
    color: #ffffff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0;
    line-height: 1;
}
.itemView{
    position:relative;
    width: 500px;
    height:75px;
    margin: auto;
    overflow:hidden;
    /* background-color: darkorange; */
}
.wrap{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    transition:left 1s;
    display: flex;
    justify-content: flex-start;
}
.product_item{
    margin:7px;
    width: 44px;
    text-align: center;
}
.product_icon{
    width: 44x;
    height: 44px;
    margin: 0 auto 5px;
}

.product_icon img{
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.product_item p{
    font-size:10px;
    color:#B87A3D ;
    font-weight:500;
    line-height: 1.5;
}


/* 搜尋列 */
.search_row{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}
.search_bar{
    width: 35%;
    border: 1px solid #B87A3D;
    border-radius: 4px;
    padding: 3px;
    margin-right: 2px;
    font-size: 14px;

}
.search_btn{
    background-color: #B87A3D;
    color: #fff;
    border: none;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 14px;
}
/* banner */
.banner{
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}
.banner_img img{
    width: 100%;
}
/* 精選特輯 */
h1{
    text-align: center;
    color: #B87A3D;
    margin-bottom: 15px;
}
.issue_wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center; 
}
.issue_box{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 5px -20px 5px 0 ;
    
}
.issue_pic{
    width: 50%;
    box-sizing: border-box;
}
.issue_pic img{
    width: 100%;
    vertical-align: middle;
}
.issue_txt h2{
    padding-bottom: 3px;
}
.issue_txt{
    width:50%;
    padding: 10px;
    height: 90px;
    /* box-sizing: border-box; */
    background-color: #b87b3ddd;
    color: #fff;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -5%;
}
.issue_txt p{
    display: inline-block; 
}

/*合作夥伴*/
.partner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5px 40px;
}
.partner_wrap{
    text-align: center;
    margin:8px 15px;
}
.partner_logo{
    width:44px;
    margin: auto;
}
.partner_logo img{
    width: 100%;
    border-radius: 100px;
    box-sizing: border-box;
}
.border img{
    border: #aaa solid 1px;
}
/* dm */
.dm{
    height: 80px;
    overflow: hidden;
    margin-bottom: 40px;
    text-align: center;
}
.dm img{
    height: 100%;
}
/* 熱銷商品/最新商品 */
.hot_product ,.new_product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 0 10px;
}
.hot_product_wrap, .new_product_wrap{
    width: calc(50% - 20px);
    margin:5px 10px;
    padding:10px;
    background-color: #eee;
    box-sizing: border-box; 
}
.product_pic{
    width: 100%;
    padding-bottom: 5px;
}
.product_pic img{
    width: 100%;
}

.price_follow_box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price{
    font-size: 20px;
    font-weight: bolder;
    color: #B87A3D;
    padding: 10px 0 0;  
}
.follow{
    width: 20px;    
}
.follow img{
    width: 100%;
}
.store{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    align-items: center;
}
.store_icon{
    width: 16px;
    margin-right: 5px;
    box-sizing:border-box;
}
.store_icon img{
    width: 100%;    
    vertical-align: middle;
}
/* 專欄 */
.article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 40px auto;
    
}
.article_wrap{
    display: flex;
    width: 95%;
    margin: 10px 20px;
    box-sizing: border-box; 
    justify-content: center;
}
.article_pic{
    width: 150px;
    height: 150px;

}
.article_pic img{
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
}
.article_txt{
    width: 100%;
    padding: 10px;
    background-color: #eee;  
    line-height:1.5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article_txt h2{
    margin-bottom: 5px;
}
.more_tag{
    text-align: right;
}
a{
    text-decoration: none;
    color: #888;
}
/* footer */
.footer{
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: #ecd1b6;
    box-sizing: border-box;

}
.socialmedia_wrap{
    display: flex;
    margin: 10px 0;
    justify-content: center;
}
.socialmedia_col{
    width: 50px;
    padding:0 20px;
}
.socialmedia_col img{
    width: 100%;
    box-sizing: border-box;
    border-radius: 300px;
}
.shortcut-text a{
    color: #000000;
}
.shortcut-text{
    margin:20px 0;
}
/* lg 平板橫up*/
/* xl 桌機up*/
@media screen and (min-width:992px) {
    /* font */
    body{
        font-size: 16px;
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size:20px;
    }
    /* header */
    .header_container{
        max-width: 1200px;
        margin: auto;
        height: 65px;
    }
    .hb{
        width: 50px;
        height: 50px;
        position: relative;
        /* background-color: salmon; */
    }
    .hb:before,.hb:after{
        width: 65%;
        height: 4px;
        background-color: #B87A3D;
        right: 0;
        left: 0;
        margin: auto;
        transform: rotate(0deg);
        border-radius: 50px;
    }
    .hb:before{
        top: 12px;
        box-shadow: 0px 11px 0px #B87A3D;
    }
    .hb:after{
        bottom: 12px;
    }
    #menu-check:checked ~ .header .header_container .hb:before{
        top: 23px;
        box-shadow: 0px 17px 0px #b87b3d00;
    }    
    #menu-check:checked ~ .header .header_container .hb:after{
        bottom: 23px;
    }
    .main-nav{
        position: absolute;
        width: 30%;
        top:100%;
        left:calc1200px;
        opacity: 0;
        background-color: #b87b3dee;
        transition: opacity 1s, left 0s .9s;   
        z-index: 200;       
    } 
    .main-nav a{
        font-size: 20px;
    }
    .login_btn{
        display: block;
    }

    /* 產品分類 */

    .product_nav_container{
        max-width:1200px;
        width: 80%;
        display:flex;
        justify-content: center;
        margin: 50px auto;
    }
    .shiftPanel{
        display: none;
    }
    .shiftPanel > .btn{
        display: none;
    }
    .itemView{
        position:relative;
        width: 85%;
        height:120px;
        text-align: center;
        overflow: visible;
    }
    .wrap{
        justify-content: space-around;
        /* background-color: rgb(240, 83, 35); */
    }
    .product_item{
        width: 70px;
        border-bottom:transparent 3px solid;
        padding: 2px;
    }
    .product_item:hover{
        /* color: #ffffff;
        background: #B87A3D; */
        border-bottom: #B87A3D 3px solid;
    } 
    .product_icon{
        width: 70px;
        height: 70px;
        margin-bottom: 5px;
        /* background-color:burlywood; */
    }
    .product_item p{
        font-size: 16px; 
        color:#B87A3D ;
    }

    /* 搜尋列 */
    .search_row{
        margin-bottom: 60px;
    }
    .search_bar{
        width: 20%;
    }
    .search_btn,.search_bar{
        font-size: 16px;
    }
    /* banner */
    .banner{
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin: 0 auto 60px;
        text-align: center;
    }
    .banner_img{
        max-width: 1200px;
        display: inline-block;
    }
    /* 精選特輯 */
    .special_issue{
        width: 100%;
        text-align: center;
    }
    .issue_wrap{
        max-width: 1200px;
        margin: auto;
    }
    .issue_wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 60px;
    }
    .issue_box{
        width: 40%;
        display:block;
        justify-content: center;
        margin: 0 ;
        position: relative;
        /* outline: solid 1px red; */
        overflow: hidden;
    }
    .issue_pic{
        width:100%;
        padding:0 20px;
        box-sizing: border-box;
    }
    .issue_pic img{
        width: 100%;        
    }
    .issue_txt h2{
        padding-bottom: 6px;
    }
    .issue_txt{
        background-color: #b87b3ddd;
        color: #fff;
        margin: 0;
        position: absolute;
        top: 82%;
        left: 20px;
        width: calc(100% - 40px);
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
        background-color: #3338;
        color: #fff;
        transition: 1s;
    }
    .issue_txt p{
        text-align: left;
    }
    .issue_box:hover .issue_txt{
        top: 60%;
    }
    /*合作夥伴*/
    .partner{
        margin: 0 0 60px 0;
    }
    .partner_wrap{
        margin:0px 25px;
    }
    .partner_logo{
        width:80px;
        margin: auto;
    }
    .partner_logo img{
        width: 100%;
        border-radius: 100px;
        box-sizing: border-box;
    }
    .border img{
        border: #aaa solid 1px;
    }
    /* dm */
    .dm{
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 60px;
    }
    .dm img{
        width: 100%;
        height: auto;
        max-width: 1200px;
        vertical-align: middle;
    }
    /* 熱銷商品/最新商品 */
    .hot_product ,.new_product{
        max-width: 1200px;
        margin: 0 auto 60px ;
    }
    .hot_product_wrap, .new_product_wrap{
        width: calc(25% - 20px);
        padding: 10px;
        background-color: rgba(238, 238, 238, 0.842);
        margin-bottom: 15px;
    }
    .price{
        font-size: 24px;
        font-weight: 600;
    }
    .follow{
        width: 24px;    
    }
    .store_icon{
        width: 20px;
    }
    /* 專欄 */
    .article{
        width: 100%;
        max-width: 1200px;
        flex-wrap: nowrap;
        margin: 0 auto 50px auto;
        box-sizing: border-box;
    }
    .article_wrap{
        width: 50%;
        margin: 20px;

    }
    .article_pic{
        width: 255px;
        height: 255px;
    }
    .article_txt{
        width: 100%;
        height: auto;
        padding: 20px;
        max-height:255px ;
    }

}
